body {
    font-family: 'Source Sans Pro', sans-serif;
}

.hide-until-loaded {
    display: none;    
}

.labelId {
    display: none;
}

.stateIndicator {
    display: none;
}

.debugMode .labelId {
    display: inherit;
}

.debugMode .stateIndicator {
    display: inherit;
}